<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game of Life</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Game of Life", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Play Game", "Index", "Games")</li>
                    <li>@Html.ActionLink("Templates", "Index", "Templates")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (Session[GoLA2.Controllers.UsersController.SessionUser] == null)
                        {
                            <li>@Html.ActionLink("Register", "Register", "Users")</li>
                            <li>@Html.ActionLink("Login", "Login", "Users")</li>
                        }
                        else
                        {
                            <li class="navbar-text">(Welcome @(((GoLA2.Models.Database.User)Session[GoLA2.Controllers.UsersController.SessionUser]).FirstName))</li>
                            if (((GoLA2.Models.Database.User)Session[GoLA2.Controllers.UsersController.SessionUser]).IsAdmin)
                            {
                                <li><a href="~/Admin/Index.aspx">Admin Site</a></li>
                            }
                            <li>@Html.ActionLink("My Templates", "MyIndex", "Templates")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Website &copy; @DateTime.Now.Year - Timothy Boye</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>